<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    
</style>
<body>
    <div class="card">
        <form action="/cadastro/" method="post">
        <label for="usuario">Usuário</label>
        <div class="nome">
            <input type="text" name="login" placeholder="Digite Seu Nome" id="login">
        </div>

        <label for="senha">Senha</label>
        <div class="senha">
            <input type="password" name="senha" placeholder="Digite Sua Senha" id="senha">
        </div>
    </form>
    </div>
</body>
</html>